
a{
    font-size:"6";
    padding: 0;
}

h1{
    color:white;
    text-align: center;
    font-family: times, serif; 
    font-size:3.5rem; 
    font-style:bold;
}
h2{
    text-align: center;
    font-family: times, serif; 
    font-style:italic;

}
h5{
    font-size: 2.5em;
}
#myHead{
    font-size: 70px;
    display: flex;
    justify-content: center;
}
#titlehead{
    font-size: 50px;
}

.card{
    border:none;
}
.videoyt{
    max-width: 100%;
    max-height: 100%;
    display:flex;
    justify-content: center;
}
.jumbotron {

  background-image: url("../img/mtv-bg.png");
  background-size: cover;
}
body{
    background-image: url("../img/mtv-bg.jpg");
}

.card-img-top{
   padding-bottom: 1.5rem;
}
.card-body{
    padding-bottom: 1rem;
}

.btn{
    margin-left:.5rem;
    display:flex;
    justify-content: center;
}
.image-center{
    display:flex;
    justify-content: center;
}

.name{
    display: flex;
    align-items: center;
    padding: 10px;
    margin:0;

}
