
a{
    font-size:"6";
    padding: 0;
}

h1{
    color:white;
    text-align: center;
    font-family: times, serif; 
    font-size:4.5rem; 
    font-style:bold;
}
h2{
    text-align: center;
    font-family: times, serif; 
    font-style:italic;
    padding-bottom: .7rem;

}

address{
    text-align: center;
    font-style: italic;
}
h5{
    font-size: 2.5em;
}

.card{
    border:none;
}
.videoyt{
    max-width: 100%;
    max-height: 100%;
    display:flex;
    justify-content: center;
}
.jumbotron {

  background-image: url("../img/mtv-bg.png");
  background-size: cover;
}
body{
    background-image: url("../img/mtv-bg.jpg");
}

.card-img-top{
   padding-bottom: 1.5rem;
}
.card-body{
    padding-bottom: 1rem;
}

.btn{
    margin-left:.5rem;
    display:flex;
    justify-content: center;
}
.image-center{
    display:flex;
    justify-content: center;
}

.name{
    display: flex;
    align-items: center;
    padding: 10px;
    margin:0;

}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px rgb(17, 17, 17), 0 0 20px #fff, 0 0 10px #ec9f0e, 0 0 10px #2812eb, 0 0 50px #df1c1c, 0 0 10px #09eb8c, 0 0 20px #f043c5;
    }
    
    to {
      text-shadow: 0 0 7px #fff, 0 0 10px #f1e209, 0 0 20px #0d09f5, 0 0 20px #db2f2f, 0 0 20px #54db39, 0 0 20px #e9e3e6, 0 0 20px #1aceee;
    }
  }
